@model IEnumerable<MVCProjectLab.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.Partial("_DateView")
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    @Html.Partial("_DepartmnetList", item);

}

</table>
