body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* To Hide the Validation Summary  ctrl + L copy line */
/*.validation-summary-errors{
    display:none; the validation summary take this calss when it show the errors so it will be displayed
}*/

.validation-summary-valid{
    display: none;
}
