
@{
    ViewBag.Title = "Error404s";
}

<h2>Error404s</h2>

<img src="~/Content/Images/Error404.jpg" width="300" />
<br />
@Html.ActionLink("Back Home", "Index", "Home",null,new { @class = "btn btn-default"})