
@{
    ViewBag.Title = "Error400s";
}

<h2>Error400s</h2>

<img src="~/Content/Images/Error400.png" width="300" />
<br />
@Html.ActionLink("Back Home", "Index", "Home", null, new { @class = "btn btn-default" })