@model MVCProjectLab.Models.Product

<div class="panel">
    <div>@Html.DisplayNameFor(q => q.ProductName) : @Html.DisplayFor(q => q.ProductName)</div>
    <div>@Html.DisplayNameFor(q => q.Price) : @Html.DisplayFor(q => q.Price)</div>
</div>
